body{
    margin: 0 auto;
}
h1{
    font-family: 'IM Fell English SC', serif ;
    font-size: 54px;
    font-weight: 900;
    text-shadow: 2px 2px 3px gray;
    line-height: 100% ;
}
h2{
    font-family: 'Noto Sans Bengali', sans-serif; 
    color: rgb(255, 0, 64);
    text-shadow: 2px 2px 3px rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 700;
}

h3{
     text-shadow: 2px 2px 3px gray;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
p{
    color: rgb(66, 66, 66);
    font-family:'Noto Sans Bengali', sans-serif;
    font-size: 16px ;
    font-weight: 100;
    line-height: 150%;
    text-align: justify;
}
.flex-container{
    display: flex ;
    padding-right: 27px;
}
.half-w{ 
    width: 50%;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 4% ;
}
.half-w img{
    width: 100%;
    padding-top: 40px;
}
img{
    width: 100%;
}
.top-banner{
    background-image: url(images/IMG_20220224_200917.png);
    background-repeat: no-repeat;
}
.drm-big{
    background-image: url(images/IMG_20220224_193236.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 25ex;
}
.priyo{
    margin: 8%;
    background-image: url(images/heart-2055203.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50ex;
    
   
}
.exp-item p{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.exp-item{
    width: 50%;
    margin-top: 20px ;
    margin-left: 5%;
    padding: 20px 20px 20px;
    box-shadow: 8px 10px 20px black;
    border-radius: 10px;
}
.exp-area{
    background-image: url(images/980x725.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40em;
}
#full-stack{
    border-right: 7px solid;
    border-image: linear-gradient(180deg, white ,rgb(122, 239, 255));
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, rgb(114, 239, 248), rgb(255, 255, 255));
    border-image-slice: 1;
}

footer p{
    text-align: center;
    margin-top: 100px;
    font-size: 14px;
}




