body{
    margin: 0 auto;
}

h1{
    font-family: 'IM Fell English SC', serif ;
    font-size: 39px;
    font-weight: 400;
    color: rgba(46, 44, 44, 0.267);
    text-shadow: 1px 1px 3px rgba(255, 0, 0, 0.171);
    margin-left: 50px;
    padding-top: 40px;
    line-height: 100% ;
    
}
h2{
    font-size: 19px;
    font-weight: 600;
    font-family: 'Hind Siliguri', sans-serif;}

h3{font-size: 20px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
h5{
    font-family: 'Noto Sans Bengali', sans-serif; 
    font-size: 15px;
}
p{
    color: rgba(66, 63, 63, 0.849);
    font-family: 'Noto Sans Bengali', sans-serif;
    font-size: 15px ;
    font-weight: 100;
    line-height: 165%;
    text-align: justify;
}
.orange{
    color: orange;
    text-shadow: 1px 1px 2px black;
}
.flex-container{
    display: flex ;
    padding-bottom: 60px;
    padding-right: 5px;
}
.half-w{ 
    width: 50%;
    padding: 2%;
    padding-bottom: 30px;
    margin-left: 4% ;
}
.half-w img{
    width: 100%;
    padding-top: 20px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.drm-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 0em;
}
.exp-item{
    width: 45%;
    float: left;
    margin-top: 20px ;
    margin-left: 5%;
    margin-right: 2%;
    padding: 20px 20px 20px;
    box-shadow: 8px 10px 20px black;
    border-radius: 10px;
}
.exp-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 100px;
    font-size: 12px;
}


img{
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}